* {
    box-sizing: border-box;
  }

body{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 0, 0);
}
.header {
    border: 2px solid rgb(0, 255, 0);
}
.main {
    flex: 1 1 auto;
    border: 2px solid rgb(0, 255, 0);
}
.footer {
    border: 2px solid rgb(0, 255, 0);
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 255);
}